<img src="https://drive.google.com/uc?export=view&id=14zlrGu_mEUI0VYv0n35l4IINfiPBKMoN" width="100%"></img>

# **Conceptos de MongoDB**
---

En este notebook se dará una introducción práctica al motor de base de datos _MongoDB_ desde _Python_. Para este notebook, se recomienda tener creada una base de datos en atlas y realizar la conexión:

In [ ]:
!pip install pymongo[srv]

In [1]:
from pymongo import MongoClient

In [3]:
# agregue su string de conexión
connection_str = "mongodb+srv://santiflo:ClaveSecreta@mlds3.eldhfxk.mongodb.net/?retryWrites=true&w=majority"
client = MongoClient(connection_str)

MongoDB maneja un nivel de jerarquía de datos basado en bases de datos y colecciones. Se puede ver de forma análoga a _SQL_ de la siguiente forma:

| SQL | MongoDB |
| --- | --- |
| Base de datos | Base de datos |
| Tabla | Colección |
| Filas | Documento |
| Columna | Campos |

Vamos a ver algunos conceptos generales de _MongoDB_:

## **1. Estructura de Documentos**
---

_MongoDB_ se caracteriza por ser una base de datos documental donde se puede guardar información que no necesariamente está estructurada (no tenemos columnas o campos fijos). Esto se consigue por medio de una estructura de datos conocida como **documento** o **diccionario**.

En _Python_ poseemos esta estructura de datos como el tipo `dict`, por ejemplo:

In [4]:
data = {
        "name": "Juan Sebastián",
        "lastname": "Lara Ramírez",
        "age": 26,
        "contact": {
            "mobile": [123456, 654321],
            "email": ["julara@unal.edu.co", "juselara96@gmail.com"]
            }
        }

Esta estructura de datos, se puede interpretar como un árbol, tal y como se muestra a continuación:

<img src="https://drive.google.com/uc?export=view&id=1tU-MNNO9sdj6w6Dp9MG_aBns9c5qaGfY" width="100%">

Generalmente, los documentos contienen los siguientes tipos de datos:

| Tipo | Notación |
| --- | --- |
| Objeto | `{}` |
| Lista | `[]` |
| Texto | `"valor"` |
| Número | `3.5` |
| Booleano | `true`, `false` |

Los documentos se caracterizan por ser elementos que se almacenan bajo la estructura de clave-valor. En _MongoDB_ las claves siempre son strings mientras que los valores son los que pueden tomar los tipos de la tabla anterior.

Veamos algunas operaciones tipo CRUD con _MongoDB_:

## **2. Creación**
---

En _MongoDB_ la creación de bases de datos y colecciones generalmente se realiza de forma automatizada.

Para crear una base de datos (o utilizar una ya existente), basta con especificarle al cliente el nombre que queremos usar, de la siguiente forma:

In [5]:
db = client["mlds3"]
print(db)

Database(MongoClient(host=['ac-rcxeft6-shard-00-02.eldhfxk.mongodb.net:27017', 'ac-rcxeft6-shard-00-01.eldhfxk.mongodb.net:27017', 'ac-rcxeft6-shard-00-00.eldhfxk.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-873ofo-shard-0', tls=True), 'mlds3')

En este caso, creamos una base de datos llamada `mlds3` si es que esta no existe.

Para crear una colección, basta con que repitamos el mismo proceso pero sobre la base de datos:

In [6]:
collection = db["students"]
print(collection)

Collection(Database(MongoClient(host=['ac-rcxeft6-shard-00-02.eldhfxk.mongodb.net:27017', 'ac-rcxeft6-shard-00-01.eldhfxk.mongodb.net:27017', 'ac-rcxeft6-shard-00-00.eldhfxk.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-873ofo-shard-0', tls=True), 'mlds3'), 'students')

Para insertar documentos a la colección, tenemos dos opciones:

* **Inserción individual**: permite insertar un único documento en la colección, se realiza por medio del método `insert_one`, veamos un ejemplo:

In [7]:
data = {
        "name": "Bart Simpson",
        "age": 10,
        "gender": "male",
        "grades": [3.0, 4.5, 2.8],
        "approved": True,
        "contact": {"email": "bart@correo.com"}
        }
collection.insert_one(data)

InsertOneResult(ObjectId('6567f8a5855c51f7c4331108'), acknowledged=True)

* **Inserción en lote**: permite insertar varios documentos a la colección, se realiza por medio del método `insert_many`, veamos un ejemplo:

In [8]:
data = [
        {
            "name": "Lisa Simpson",
            "age": 8,
            "grades": [5.0, 4.8, 4.9],
            "approved": True,
            "contact": {"email": "lisa@correo.com", "phone": 38888}
            },
        {
            "name": "Ralph Gorgory",
            "grades": [1.0, 1.5, 0.1],
            "approved": False, "age": 9,
            "gender": "male",
            "contact": {"email": "yo@koreo.com", "phone": "no tengo"}
            },
        {
            "name": "Maria Perez",
            "age": 5,
            "approved": False,
            "contact": {"email": "maria@correo.com", "phone": 32323}
            }
        ]
collection.insert_many(data)

InsertManyResult([ObjectId('6567f931855c51f7c4331109'), ObjectId('6567f931855c51f7c433110a'), ObjectId('6567f931855c51f7c433110b')], acknowledged=True)

## **3. Lectura**
---

Al igual que en el ejemplo de inserción, la lectura puede realizarse individualmente o en lote:

* **Lectura individual**: permite extraer un documento de la colección, se realiza por medio del método `find_one`, veamos un ejemplo:

In [9]:
res = collection.find_one({"name": "Bart Simpson"})
res

{'_id': ObjectId('6567f8a5855c51f7c4331108'),
 'name': 'Bart Simpson',
 'age': 10,
 'gender': 'male',
 'grades': [3.0, 4.5, 2.8],
 'approved': True,
 'contact': {'email': 'bart@correo.com'}}

Como puede evidenciar, obtuvimos el primer registro que insertamos. La única diferencia es que _MongoDB_ agrega un campo `_id` como identificador único del documento creado.

* **Lectura en lote**: permite extraer varios documentos de la colección, se realiza por medio del método `find`, veamos un ejemplo:

In [10]:
res = list(collection.find({"approved": True}))
res

[{'_id': ObjectId('6567f8a5855c51f7c4331108'),
  'name': 'Bart Simpson',
  'age': 10,
  'gender': 'male',
  'grades': [3.0, 4.5, 2.8],
  'approved': True,
  'contact': {'email': 'bart@correo.com'}},
 {'_id': ObjectId('6567f931855c51f7c4331109'),
  'name': 'Lisa Simpson',
  'age': 8,
  'grades': [5.0, 4.8, 4.9],
  'approved': True,
  'contact': {'email': 'lisa@correo.com', 'phone': 38888}}]

Como pudimos ver en los ejemplos anteriores, los filtros se realizan especificando una consulta como un documento o diccionario.

De forma general, el diseño de una consulta en _MongoDB_ consiste en crear una especie de patrón o template en cuanto a cómo podrían ser los documentos esperados.

Los métodos `find_one` y `find` tienen los mismos parámetros, la única diferencia es que el primero solo recupera un documento mientras que el segundo todos los que coinciden con la consulta.

Si queremos obtener toda una colección, podemos hacer una consulta sin ningún filtro:

In [11]:
res = list(collection.find({}))
res

[{'_id': ObjectId('6567f8a5855c51f7c4331108'),
  'name': 'Bart Simpson',
  'age': 10,
  'gender': 'male',
  'grades': [3.0, 4.5, 2.8],
  'approved': True,
  'contact': {'email': 'bart@correo.com'}},
 {'_id': ObjectId('6567f931855c51f7c4331109'),
  'name': 'Lisa Simpson',
  'age': 8,
  'grades': [5.0, 4.8, 4.9],
  'approved': True,
  'contact': {'email': 'lisa@correo.com', 'phone': 38888}},
 {'_id': ObjectId('6567f931855c51f7c433110a'),
  'name': 'Ralph Gorgory',
  'grades': [1.0, 1.5, 0.1],
  'approved': False,
  'age': 9,
  'gender': 'male',
  'contact': {'email': 'yo@koreo.com', 'phone': 'no tengo'}},
 {'_id': ObjectId('6567f931855c51f7c433110b'),
  'name': 'Maria Perez',
  'age': 5,
  'approved': False,
  'contact': {'email': 'maria@correo.com', 'phone': 32323}}]

También podemos seleccionar un valor exacto para los documentos que tengan un campo en específico, por ejemplo, si queremos todos los estudiantes cuyo campo `gender` sea `"male"`:

In [13]:
res = list(collection.find({"gender": "male"}))
res

[{'_id': ObjectId('6567f8a5855c51f7c4331108'),
  'name': 'Bart Simpson',
  'age': 10,
  'gender': 'male',
  'grades': [3.0, 4.5, 2.8],
  'approved': True,
  'contact': {'email': 'bart@correo.com'}},
 {'_id': ObjectId('6567f931855c51f7c433110a'),
  'name': 'Ralph Gorgory',
  'grades': [1.0, 1.5, 0.1],
  'approved': False,
  'age': 9,
  'gender': 'male',
  'contact': {'email': 'yo@koreo.com', 'phone': 'no tengo'}}]

Si queremos extraer solo algunos campos del resultado, podemos generar una proyección. Esto consiste en el uso del segundo argumento del `find` como un diccionario que especifica qué campos deseamos extraer, por ejemplo, si quisiéramos los nombres de los estudiantes de género masculino:

In [14]:
res = list(collection.find(
    {"gender": "male"},
    {"name": True, "_id": False}
    ))
res

[{'name': 'Bart Simpson'}, {'name': 'Ralph Gorgory'}]

En este caso, `"_id": False` se usa para obligar a que el resultado no extraiga el identificador de documentos (lo trae por defecto).

En _MongoDB_ tenemos distintos operadores lógicos para usar sobre las consultas, entre ellos:

| Operador | Descripción |
| --- | --- |
| `$eq` | Operador de igualdad. |
| `$and` | Operador AND para unir condiciones. |
| `$or` | Operador OR para unir condiciones. |
| `$not` | Operador NOT para negar condición. |
| `$in` | Operador para validar pertenencia en una lista. |
| `$elemMatch` | Revisa si al menos un elemento de un array cumple una condición. |
| `$all` | Revisa si todos los elementos de un array cumplen una condición. |
| `$lt` | Menor que. |
| `$gt` | Mayor que. |
| `$lte` | Menor o igual que. |
| `$gte` | Mayor o igual que. |
| `$text` | Permite buscar sobre un índice texto. |
| `$search` | Específica un patrón para la búsqueda de texto. |
| `$exists` | Valida que un campo exista en el documento. |

Veamos algunos ejemplos de consultas:

* Estudiantes llamados `"Lisa Simpson"`:

Para este caso filtramos simplemente usando el nombre del campo y el valor que deseamos obtener:

In [15]:
query = {"name": "Lisa Simpson"}
res = list(collection.find(query))
res

[{'_id': ObjectId('6567f931855c51f7c4331109'),
  'name': 'Lisa Simpson',
  'age': 8,
  'grades': [5.0, 4.8, 4.9],
  'approved': True,
  'contact': {'email': 'lisa@correo.com', 'phone': 38888}}]

* Estudiantes de género masculino que aprobaron:

Para este caso, usamos el operador `$and` para unir dos condiciones:

In [16]:
query = {"$and": [{"gender": "male"}, {"approved": True}]}
res = list(collection.find(query))
res

[{'_id': ObjectId('6567f8a5855c51f7c4331108'),
  'name': 'Bart Simpson',
  'age': 10,
  'gender': 'male',
  'grades': [3.0, 4.5, 2.8],
  'approved': True,
  'contact': {'email': 'bart@correo.com'}}]

* Estudiantes que tienen al menos una nota reprobada:

Podemos recorrer cada elemento del campo `grades` usando el operador `$elemMatch`. Usamos el operador `$lt` para verificar si hay alguna nota inferior a `3.0`.

In [17]:
query = {"grades": {"$elemMatch": {"$lt": 3.0}}}
res = list(collection.find(
    query,
    {"name": True, "grades": True, "_id": False})
    )
res

[{'name': 'Bart Simpson', 'grades': [3.0, 4.5, 2.8]},
 {'name': 'Ralph Gorgory', 'grades': [1.0, 1.5, 0.1]}]

* Estudiantes que tienen todas las notas reprobadas:

Al igual que el caso anterior usamos `$elemMatch` para recorrer todo el arreglo y validamos quienes aprobaron al menos una materia con el operador `$gte`. Como queremos aquellos que no aprobaron ninguna, simplemente negamos la condición con el operador `$not`.

In [18]:
query = {"grades": {"$not": {"$elemMatch": {"$gte": 3.0}}}}
res = list(collection.find(
    query,
    {"name": True, "grades": True, "_id": False})
    )
res

[{'name': 'Ralph Gorgory', 'grades': [1.0, 1.5, 0.1]}, {'name': 'Maria Perez'}]

Un caso de uso muy frecuente de _MongoDB_ es para el almacenamiento de información que contiene muchos datos textuales. Veamos un ejemplo de búsqueda de todos los nombres que tengan la palabla `"Simpson"`. Para ello, primero debemos crear un índice con las columnas de texto sobre las que deseamos hacer consultas.

El método `create_index` recibe una lista de tuplas con dos valores: el nombre del campo que va a ser índice y el tipo de índice a crear:

In [19]:
collection.create_index([("name", "text")])

'name_text'

Veamos la consulta:

In [20]:
query = {"$text": {"$search": "Simpson"}}
res = list(
        collection.find(
            query,
            {"name": True, "_id": False}
            )
        )
res

[{'name': 'Lisa Simpson'}, {'name': 'Bart Simpson'}]

También podemos hacer búsquedas usando [expresiones regulares](https://www.mongodb.com/docs/manual/reference/operator/query/regex/). Este es un tema que no cubriremos en detalle en este módulo pero que podrá encontrar en el módulo 4 de procesamiento y entendimiento de lenguaje natural del programa de formación.

Veamos un ejemplo, para encontrar todos los nombres que terminan por `Simpson`:

In [21]:
query = {"name": {"$regex": ".*Simpson$"}}
res = list(
        collection.find(
            query,
            {"name": True, "_id": False}
            )
        )
res

[{'name': 'Bart Simpson'}, {'name': 'Lisa Simpson'}]

Finalmente, si deseamos consultar sobre elementos anidados (documentos dentro de documentos o listas dentro de documentos. Veamos algunos ejemplos:

* Estudiantes que perdieron la primer nota:

En este caso usamos la notación punto `grades.0` para seleccionar el primer elemento del arreglo de notas.

In [22]:
query = {"grades.0": {"$lt": 3.0}}
res = list(
        collection.find(
            query,
            {"name": True, "_id": False}
            )
        )
res

[{'name': 'Ralph Gorgory'}]

* Estudiantes que tienen un correo electrónico incorrecto

En este caso indexamos sobre el documento anidado con la notación punto `contact.email` y usamos una expresión regular para detectar los correos que no contengan `@correo.com`:

In [23]:
query = {"contact.email": {"$not": {"$regex": r"\w+@correo.com"}}}
res = list(
        collection.find(
            query,
            {"contact.email": True, "_id": False}
            )
        )
res

[{'contact': {'email': 'yo@koreo.com'}}]

## **4. Actualización**
---

Al igual que las operaciones anteriores, podemos actualizar valores de forma individual o por lotes:

* **Actualización individual**: permite actualizar un único documento en la colección, se realiza por medio del método `update_one`. Veamos un ejemplo para corregir el correo electrónico que estaba mal, para actualizar valores en _MongoDB_ usamos el operador `$set`:

In [24]:
query = {"contact.email": {"$not": {"$regex": r"\w+@correo.com"}}}
collection.update_one(
    query,
    {"$set": {"contact.email": "rafa@correo.com"}}
    )

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000007a'), 'opTime': {'ts': Timestamp(1701313311, 8), 't': 122}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1701313311, 8), 'signature': {'hash': b'\xd6O\xfbP\x8a\xb1\xae\x87\x8e\x07\x13F\x96\x98\x03\xa7\xc1q\x02Z', 'keyId': 7263199725178847234}}, 'operationTime': Timestamp(1701313311, 8), 'updatedExisting': True}, acknowledged=True)

Corroboremos el resultado:

In [25]:
query = {"contact.email": {"$not": {"$regex": r"\w+@correo.com"}}}
res = list(
        collection.find(
            query,
            {"contact.email": True, "_id": False}
            )
        )
res

[]

Note que ya no obtuvimos ningún correo que esté escrito de forma errónea.

* **Actualización en lote**: permite actualizar todos los documentos en la colección si cumplen alguna condición, se realiza por medio del método `update_many`. Veamos un ejemplo donde creamos un nuevo campo indicando el curso de los estudiantes

In [26]:
# consulta vacía, significa que la operación será sobre todos los documentos
query = {}
collection.update_many(
    query,
    {"$set": {"course": "1"}}
    )

UpdateResult({'n': 4, 'electionId': ObjectId('7fffffff000000000000007a'), 'opTime': {'ts': Timestamp(1701313340, 10), 't': 122}, 'nModified': 4, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1701313340, 10), 'signature': {'hash': b'\x9cN\xcd\xed\xe1\xdeU\xa7\xa7\x99\x81\xc7\xa0\xfc\xa6m\\\x17\xb2\xb9', 'keyId': 7263199725178847234}}, 'operationTime': Timestamp(1701313340, 10), 'updatedExisting': True}, acknowledged=True)

Corroboremos el resultado:

In [27]:
query = {}
res = list(
        collection.find(query)
        )
res

[{'_id': ObjectId('6567f8a5855c51f7c4331108'),
  'name': 'Bart Simpson',
  'age': 10,
  'gender': 'male',
  'grades': [3.0, 4.5, 2.8],
  'approved': True,
  'contact': {'email': 'bart@correo.com'},
  'course': '1'},
 {'_id': ObjectId('6567f931855c51f7c4331109'),
  'name': 'Lisa Simpson',
  'age': 8,
  'grades': [5.0, 4.8, 4.9],
  'approved': True,
  'contact': {'email': 'lisa@correo.com', 'phone': 38888},
  'course': '1'},
 {'_id': ObjectId('6567f931855c51f7c433110a'),
  'name': 'Ralph Gorgory',
  'grades': [1.0, 1.5, 0.1],
  'approved': False,
  'age': 9,
  'gender': 'male',
  'contact': {'email': 'rafa@correo.com', 'phone': 'no tengo'},
  'course': '1'},
 {'_id': ObjectId('6567f931855c51f7c433110b'),
  'name': 'Maria Perez',
  'age': 5,
  'approved': False,
  'contact': {'email': 'maria@correo.com', 'phone': 32323},
  'course': '1'}]

## **5. Borrado**
---

Las operaciones de borrado también aplican a nivel individal y por lote:

* **Borrado individual**: permite borrar un único documento que cumpla una condición, para ello usamos el método `delete_one`. Veamos un ejemplo:

In [28]:
query = {"name": "Lisa Simpson"}
collection.delete_one(query)

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000007a'), 'opTime': {'ts': Timestamp(1701313360, 1), 't': 122}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1701313360, 1), 'signature': {'hash': b'\xe3pV0\xc3\x14\xeaF\xa7\x12\xc6\xd4[\x9c\x9d\xdf<W\xc9\x8a', 'keyId': 7263199725178847234}}, 'operationTime': Timestamp(1701313360, 1)}, acknowledged=True)

Veamos que la estudiante Lisa Simpson fuese borrada:

In [29]:
query = {}
res = list(
        collection.find(query, {"name": True, "_id": False})
        )
res

[{'name': 'Bart Simpson'}, {'name': 'Ralph Gorgory'}, {'name': 'Maria Perez'}]

* **Borrado en lote**: permite borrar varios documentos que cumplan una condición, para ello usamos el método `delete_many`. Veamos un ejemplo para borrar todos los estudiantes de género masculino:

In [30]:
query = {"gender": "male"}
collection.delete_many(query)

DeleteResult({'n': 2, 'electionId': ObjectId('7fffffff000000000000007a'), 'opTime': {'ts': Timestamp(1701313367, 13), 't': 122}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1701313367, 13), 'signature': {'hash': b'\xc6\xb8\xdax\x82\x08AB\xf9\xa0\x8c\x7f$nQ?\x19\x17\x9em', 'keyId': 7263199725178847234}}, 'operationTime': Timestamp(1701313367, 13)}, acknowledged=True)

Veamos el resultado

In [31]:
query = {}
res = list(
        collection.find(query, {"name": True, "gender": True, "_id": False})
        )
res

[{'name': 'Maria Perez'}]

Por último, podemos borrar collecciones completas de la siguiente forma:

In [32]:
db.drop_collection("students")

{'nIndexesWas': 2,
 'ns': 'mlds3.students',
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1701313372, 6),
  'signature': {'hash': b'\xcb\xcf\xea\xd34\xe86t$\x00\xa3@OO\x9a\x18\xba\xa4\x1b\x92',
   'keyId': 7263199725178847234}},
 'operationTime': Timestamp(1701313372, 6)}

## 6. Recursos Adicionales
---

* [The MongoDB 4.4 Manual](https://docs.mongodb.com/manual/)
* [MongoDB University - MongoDB for Python Developers](https://university.mongodb.com/courses/M220P/about)
* [Udemy - Learn How Python Works with NoSql Database MongoDB: PyMongo](https://www.udemy.com/course/learn-how-python-works-with-mongodb-pymongo-in-9hrs/)

## 7. Créditos
---

**Profesor**

- [Jorge E. Camargo, PhD](https://dis.unal.edu.co/~jecamargom/)

**Diseño, desarrollo del notebook y material audiovisual**

- [Juan S. Lara MSc](https://www.linkedin.com/in/juan-sebastian-lara-ramirez-43570a214/)

**Universidad Nacional de Colombia** - *Facultad de Ingeniería*