<img src = "https://drive.google.com/uc?export=view&id=1yvD13gdrTHQ6WboMRzIMSGLRa9t0nj8o" alt = "Encabezado MLDS unidad 3" width = "100%">  </img>

# Taller 3 - MongoDB
---
Las siguientes tres celdas de código, como se vio en el notebook `M3U3NB2_conceptos_mongo.py` son para la preparación de las herramientas *Python* necesarias para poder ejecutar *querys* de *MQL (MongoDB Query Language)* desde este lenguaje.

In [ ]:
!pip install rlxcrypt
!wget --no-cache -O session.pye -q https://raw.githubusercontent.com/JuezUN/INGInious/master/external%20libs/session.pye

In [ ]:
import rlxcrypt
import session

grader = session.LoginSequence("BD-GroupMLDS-3-2023-2@54082682-0ef4-4c6d-a846-1721e8db07ac")

Instalando *PyMongo*:

In [ ]:
!python -m pip install 'pymongo[srv]'==4.2.0

Se importa `MongoClient` para poder conectarse a *MongoDB Atlas Database* y `json` para poder importar el grupo de datos a utilizar:

In [ ]:
from pymongo import MongoClient
import json

Para conectar a *MongoDB Atlas Database*:

In [ ]:
connection_str = "mongodb+srv://santiflo:ClaveSecreta@mlds3.eldhfxk.mongodb.net/?retryWrites=true&w=majority"
client = MongoClient(connection_str)

## Carga de Datos
---
La colección que se usa en este taller es una colección sobre *restaurantes neoyorkinos*. Cada documento contiene detalles de los resturantes como dirección, municipio (aquí llamada como borough), puntuaciones, su nombre y el tipo de comida que sirven.

Con la siguiente sentencia se obtiene el conjunto de datos, que está almacenado en *Drive*, y se guarda en un archivo local llamado `restaurants.json`

In [ ]:
!wget 'https://drive.google.com/uc?export=view&id=1lr-zR-57cKa-Xyz-JkWgKsVpTcp293AG' -O restaurants.json

Aquí desde *Python* se lee todo el archivo `restaurants.json` y se guarda en una variable llamada `data`.

In [ ]:
with open("restaurants.json") as f:
    data = (json.loads(line) for line in f.readlines())

Se borra el archivo `restaurants.json` del servidor local de `Google Colaboratory` porque ya no se necesita porque ya quedó guardado en la variable `data`.

In [ ]:
!rm restaurants.json

## Preparación de base de datos en *MongoDB*
---

Después de almacenar todos los datos en una vairable de *Python* se procede a seleccionar en *MongoDB* la **base de datos** a usar para el taller:

In [ ]:
db = client["mlds3"]

Con la siguiente celda se verifica si existe en la base de datos una colección anterior llamada `restaurants`, ya que ese será el nombre de la colección elegido para el taller:

In [ ]:
if "restaurants" in db.list_collection_names():
    db.drop_collection("restaurants")

Seleccionando la **colección** a usar para el taller:

In [ ]:
collection = db["restaurants"]

A continuación, se *inserta en bloque* en la colección lo que se obtuvo desde `restaurants.json`:

In [ ]:
collection.insert_many(data)

La siguiente consulta retorna un elemento de la colección. Se hace para conocer la *forma* o *estructura de campos* que hay en "todos" los documentos (para esta colección todos los documentos tienen la misma estructura pero recuerde que cada documento puede tener diferente estructura de campos si así se desea). **Si al momento de solucionar algún ejercicio olvida la *estructura de campos* rediríjase a esta sección para recordarlo:**

In [ ]:
collection.find_one()

> **Warning:** En este taller cuando se usa el término *calificación* se refiere al campo `score` que está dentro del campo `grades` que es un arreglo; cuando se usa el término *nota* se refiere al campo `grade`(**no** `grades`, note la direferencia entre el plural y el singular).

## Formato de salida
---
La función `print_result`, prediseñada para el taller, permite mostrar el retorno de las querys de una forma más amigable. Si lo desea, no use esta función, con la función `print` built-in de *Python* también es posible, pero el retorno de los querys será más desafiante de leer:

In [ ]:
def print_result(data):
    json_data = json.dumps(data, indent=4, sort_keys=True)
    print(json_data)

## **1. Consulta de Nombres de Restaurantes y Tipo de Cocina**
---
En este primer ejercicico usted debe implementar una *consulta* válida de **MQL (MongoDB Query Language)** mediante la función `query_name_type` que retorne dos `dict`, el primero representa el *query* o *filtro*, y el segundo la *proyección del query*. Su trabajo radica en retornar **TODOS** los documentos de la colección `restaurants`, mostrando únicamente los nombres de los restaurantes (`name`), el tipo de cocina (`cuisine`) y **sin** mostrar el campo `_id`.

**Parámetros**

* No hay parámetros de entrada para esta función.

**Retorna**

* `query` o `filtro`: `dict` válido como consulta de **MQL**
* `proyección`: `dict` válido representando la proyección

In [ ]:
def query_name_type():
    query = {}
    projection = {'_id':False, 'name':True, 'cuisine':True}
    return query, projection

Use la siguiente línea de código para probar su código con la **salida esperada**. Note que la línea de código sólo retorna 5 documentos, esto se hace a propósito para no mostrar todos los documentos de la colección, esto es śolo una pequeña muestra.

In [ ]:
print_result(list(collection.find(*query_name_type()))[:5])

**Salida esperada:**

```javascript
[
    {
        "cuisine": "Bakery",
        "name": "Morris Park Bake Shop"
    },
    {
        "cuisine": "Hamburgers",
        "name": "Wendy'S"
    },
    {
        "cuisine": "Irish",
        "name": "Dj Reynolds Pub And Restaurant"
    },
    {
        "cuisine": "American ",
        "name": "Riviera Caterer"
    },
    {
        "cuisine": "Jewish/Kosher",
        "name": "Tov Kosher Kitchen"
    }
]
```

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 1</b></font>
</summary>

* Verifique que los campos seleccionados en su `query` o `proyección` están escritos correspondientemente a los nombres de los campos en las tablas:
  * Nombre restaurante: `name`
  * Tipo de cocina: `cuisine`
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 2</b></font>
</summary>

* Note que en la función no es necesario que especifique la colección donde va a hacer la consulta como se hace en *SQL* o *CQL* porque la selección de la colección junto la de la base de datos se hizo al princio del notebook en la sección *carga de datos*. Revise la sección por si no lo notó y el notebook anterior `2_conceptos_mongo.ipynb` por si este concepto de *selección de colección* desde `PyMongo` resulta confuso.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 3</b></font>
</summary>

* En la función usted debe retornar dos `dict` no un `string` como se hizo con *SQL* y *CQL*. La sintaxis de los diccionarios es muy importante, no lo olvide.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 4</b></font>
</summary>

* Recuerde que *MongoDB* retorna por defecto **SIEMPRE** el campo `_id`, si no se le indica que debe dejar de mostrarlo, deje el funcionamiento por defecto.
</details>

### **Evaluar código**

In [ ]:
grader.run_test("Test 1_1", globals())

## **2. Consulta de Nombres de Restaurantes y su Zipcode**
---

En este punto se debe hallar tanto el nombre de los restaurantes como el código postal del mismo de **todos** los documentos que se encuentran en la colección. Debe completar la función `query_name_zipcode` con una *consulta* válida de **MQL (MongoDB Query Language)**, la cual tiene que retornar dos diccionarios: el primero representa el *query* o *filtro*, y el segundo la *proyección del query* que contenga **solamente** los valores de los campos `name` y `zipcode`. Adicionalmente, **no** se debe mostrar el campo `_id`.

> Tenga en cuenta que, en caso de que algún campo esté embebido en otro, en la salida del _query_ se mostrarán ambos diccionarios; como es el caso de `address` y `zipcode`.

**Parámetros**

* No hay parámetros de entrada para esta función.

**Retorna**

* `query`: diccionario válido como consulta de **MQL**.
* `proyección`: diccionario válido representando la proyección, es decir, los campos requeridos en el enunciado.

In [ ]:
def query_name_zipcode():
    query = {}
    projection = {'_id': 0, 'name': 1, 'address.zipcode': 1}
    return query, projection

In [ ]:
print_result(list(collection.find(*query_name_zipcode()))[:5])

**Salida esperada:**

```javascript
[
    {
        "address": {
            "zipcode": "10462"
        },
        "name": "Morris Park Bake Shop"
    },
    {
        "address": {
            "zipcode": "11225"
        },
        "name": "Wendy'S"
    },
    {
        "address": {
            "zipcode": "10019"
        },
        "name": "Dj Reynolds Pub And Restaurant"
    },
    {
        "address": {
            "zipcode": "11224"
        },
        "name": "Riviera Caterer"
    },
    {
        "address": {
            "zipcode": "11374"
        },
        "name": "Tov Kosher Kitchen"
    }
]
```
> Note que en este ejemplo sólo se muestran 5 registros retornados por el _query_, sin embargo, la cantidad total de datos retornados es mucho más grande; esta se muestra para que usted la use como comparación para los primeros 5 documentos.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 1</b></font>
</summary>

Recuerde que, para acceder a un campo de un documento embebido, necesita referenciarse al mismo como: `llave_E.llave_I` donde `llave_E` se refiere al campo del documento original y `llave_I` a la llave del campo del documento embebido.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 2</b></font>
</summary>

Por defecto, al momento de hacer un _query_, el resultado del mismo retorna cada documento con su identificador único como un `ObjectId()`. Para evitar esto, entre la declaración del query, se debe indicar que este campo no aparezca definiéndolo como `_id: False`
</details>

### **Evaluar código**

In [ ]:
grader.run_test("Test 2_1", globals())

## **3. Restaurantes en un Borough Específico**
---
En el ejercicico 3 usted debe implementar una *consulta* válida de **MQL (MongoDB Query Language)** mediante la función `query_borough` que retorne dos `dict`, el primero representa el *query* o *filtro*, y el segundo la *proyección del query*. Su trabajo radica en retornar **TODOS** los documentos de la colección `restaurants` que coincidan con un *borough* específico (este es el filtro), mostrando los nombres de los restaurantes (`name`) y el campo borough(`borough`); para este ejercicio es necesario que **no** se muestre el campo `_id`.
> *Borough*: municipio o división administrativa incorporada en una ciudad.

**Parámetros**

* *Borough*: `str` que representa el municipio o división administrativia, en otras palabras, la ciudad.

**Retorna**

* `query` o `filtro`: `dict` válido como consulta de **MQL**
* `proyección`: `dict` válido representando la proyección.

In [ ]:
def query_borough(borough):
    query = {'borough': {'$regex': f'{borough}'}}
    projection = {'_id': 0, 'name':1, 'borough':1}
    return query, projection

Use las siguientes dos celdas de código para probar su código. Note que las líneas de código sólo retornan 5 documentos, esto se hace a propósito para no mostrar todos los documentos de la colección, esto son śolo una pequeñas muestras de la consulta completa.

Celda de código para el caso específico de *Manhattan*:

In [ ]:
print_result(list(collection.find(*query_borough("Manhattan")))[:20])

Salida esperada para el caso específico de *Manhattan*:

```javascript
[
    {
        "borough": "Manhattan",
        "name": "Dj Reynolds Pub And Restaurant"
    },
    {
        "borough": "Manhattan",
        "name": "1 East 66Th Street Kitchen"
    },
    {
        "borough": "Manhattan",
        "name": "Glorious Food"
    },
    {
        "borough": "Manhattan",
        "name": "Bully'S Deli"
    },
    {
        "borough": "Manhattan",
        "name": "Harriet'S Kitchen"
    }
]
```

Celda de código para el caso específico de *Brooklyn*:

In [ ]:
print_result(list(collection.find(*query_borough("Brooklyn")))[:20])

Salida esperada para el caso espećifico de *Brooklyn*:

```javascript
[
    {
        "borough": "Brooklyn",
        "name": "Wendy'S"
    },
    {
        "borough": "Brooklyn",
        "name": "Riviera Caterer"
    },
    {
        "borough": "Brooklyn",
        "name": "Wilken'S Fine Food"
    },
    {
        "borough": "Brooklyn",
        "name": "Regina Caterers"
    },
    {
        "borough": "Brooklyn",
        "name": "Taste The Tropics Ice Cream"
    }
]
```

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 1</b></font>
</summary>

* Verifique que los campos seleccionados en su `query` o `proyección` están escritos correspondientemente a los nombres de los campos en las tablas:
  * MongoDB ID: `_id`
  * Nombre restaurante: `name`
  * Borough: `borough`
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 2</b></font>
</summary>

* Note que en la función no es necesario que especifique la colección donde va a hacer la consulta como se hace en *SQL* o *CQL* porque la selección de la colección junto la de la base de datos se hizo al princio del notebook en la sección *carga de datos*. Revise la sección por si no lo notó y el notebook anterior `2_conceptos_mongo.ipynb` por si este concepto de *selección de colección* desde `PyMongo` resulta confuso.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 3</b></font>
</summary>

* En la función usted debe retornar dos `dict` no un `string` como se hizo con *SQL* y *CQL*. La sintaxis de los diccionarios es muy importante, no lo olvide.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 4</b></font>
</summary>

* Recuerde que *MongoDB* retorna por defecto **SIEMPRE** el campo `_id`, si no se le indica que debe dejar de mostrarlo, deje el funcionamiento por defecto.
</details>

### **Evaluar código**

In [ ]:
grader.run_test("Test 3_1", globals())

In [ ]:
grader.run_test("Test 3_2", globals())

In [ ]:
grader.run_test("Test 3_3", globals())

In [ ]:
grader.run_test("Test 3_4", globals())

## **4. Restaurantes con Alguna Calificación Mayor a un Valor**
---
En este caso se debe hallar el nombre de los restaurantes y la calificación de cada uno de estos tomando en cuenta a **todos** los documentos que se encuentran en la colección que tengan al menos una **calificación** _mayor_ al valor indicado (`score`). Debe completar la función `query_higher_score` con una *consulta* válida de **MQL (MongoDB Query Language)**, la cual tiene que retornar dos diccionarios: el primero representa el *query*, y el segundo la *proyección del query* que contenga **solamente** los valores de los campos `name` y `grades`. Adicionalmente, es necesario que **no** se muestre el campo `_id`.

**Parámetros**

* `score`: número entero que sirve para señalar la calificación por la que se desea filtrar el restaurante.

**Retorna**

* `query`: diccionario válido como consulta de **MQL**.
* `proyección`: diccionario válido representando la proyección, es decir, los campos requeridos en el enunciado.

In [ ]:
def query_higher_score(score):
    query = {'grades.score': {'$gt':score}
            }
    projection = {'_id':0, 'name':1, 'grades':1}
    return query, projection

In [ ]:
print_result(list(collection.find(*query_higher_score(30)))[:20])

**Salida esperada:**

En este caso se retornan los restaurantes que tengan al menos una **calificación** _mayor_ a 30 puntos.
```javascript
[
    {
        "grades": [
            {
                "date": {
                    "$date": 1416009600000
                },
                "grade": "Z",
                "score": 38
            },
            {
                "date": {
                    "$date": 1398988800000
                },
                "grade": "A",
                "score": 10
            },
            {
                "date": {
                    "$date": 1362182400000
                },
                "grade": "A",
                "score": 7
            },
            {
                "date": {
                    "$date": 1328832000000
                },
                "grade": "A",
                "score": 13
            }
        ],
        "name": "Brunos On The Boulevard"
    },
    {
        "grades": [
            {
                "date": {
                    "$date": 1410825600000
                },
                "grade": "B",
                "score": 21
            },
            {
                "date": {
                    "$date": 1377648000000
                },
                "grade": "A",
                "score": 7
            },
            {
                "date": {
                    "$date": 1364860800000
                },
                "grade": "C",
                "score": 56
            },
            {
                "date": {
                    "$date": 1344988800000
                },
                "grade": "B",
                "score": 27
            },
            {
                "date": {
                    "$date": 1332892800000
                },
                "grade": "B",
                "score": 27
            }
        ],
        "name": "May May Kitchen"
    }
]
```
> Note que en este ejemplo sólo se muestran 2 registros retornados por el _query_, sin embargo, la cantidad total de datos retornados es mucho más grande; esta se muestra para que usted la use como comparación para los primeros 2 documentos.

In [ ]:
print_result(list(collection.find(*query_higher_score(10)))[:5])

In [ ]:
print_result(list(collection.find(*query_higher_score(30)))[:5])

In [ ]:
print_result(list(collection.find(*query_higher_score(50)))[:5])

In [ ]:
print_result(list(collection.find(*query_higher_score(100)))[:5])

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 1</b></font>
</summary>

* El campo `grades` es un documento embebido el cual, a su vez, contiene el campo `score`. La consulta se debe trabajar con ambos campos y de manera jerárquica, es decir, debe primero referirse al campo `grades` para poder acceder a `score`.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 2</b></font>
</summary>

* Recuerde que los operadores que permiten filtrar e interactuar con las consultas contienen un signo `$` al inicio de su declaración. Entre los operadores utiles para esta consulta se encuentran:  
    * `elemMatch:` Revisa si al menos un elemento de un array cumple una condición.  
    * `gt:` Evalúa si el valor indicado es estrictamente mayor que el valor de referencia.   
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 3</b></font>
</summary>

* Tenga en cuenta que cada operador o filtro que desee aplicar debe estar encerrado entre llaves `{}`, por ejemplo:
    > `{"PAPPI": {"$elemMatch": {"$lte": 2.9}}}`  
  Esto resultaría en todas las notas que hacen parte del _Promedio Aritmético Ponderado para Inscripciones (PAPPI)_ que sean menor o igual a 2.9.
</details>

### **Evaluar código**

In [ ]:
grader.run_test("Test 4_1", globals())

In [ ]:
grader.run_test("Test 4_2", globals())

## **5. Restaurante con Alguna Calificación en un Rango Dado**
---
Para el ejercicio 5 usted debe implementar una *consulta* válida de **MQL (MongoDB Query Language)** mediante la función `query_range_score` que retorne dos `dict`, el primero representa el *query* o *filtro*, y el segundo la *proyección del query*. Su trabajo radica en retornar **TODOS** los documentos de la colección `restaurants` que se encuentren entre un rango de calificación dado, mostrando el nombre de cada restaurante (`name`) y el campo (`grades`, **no** `grade`) que agrupa las notas y las calificaciones; para este ejercicio es necesario que **no** se muestre el campo `_id`.

**Parámetros**

* *Cota izquierda del rango*: `int` que representa el valor más bajo del rango.
* *Cota derecha del rango*: `int` que representa el valor más alto del rango.

> Los valores de las cotas son inclusivos.

**Retorna**

* `query` o `filtro`: `dict` válido como consulta de **MQL**
* `proyección`: `dict` válido representando la proyección.

In [ ]:
def query_range_score(score_left, score_right):
    query = {
        'grades':{
            '$elemMatch': {
                'score':{
                    '$gte': score_left,
                    '$lte': score_right
                 }
                }
            }
        }
    projection = {'_id':0, 'grades':1, 'name':1}
    return query, projection

Use las siguiente líneas de código para probar su código con las **salidas de prueba** mostradas. Note que las líneas de código sólo retornan 5 documentos, esto se hace a propósito para no mostrar todos los documentos de la colección, esto son śolo una pequeñas muestras de la consulta completa.

In [ ]:
print_result(list(collection.find(*query_range_score(10, 20)))[:5])

Salida esperada:

```javascript
[
    {
        "grades": [
            {
                "date": {
                    "$date": 1393804800000
                },
                "grade": "A",
                "score": 2
            },
            {
                "date": {
                    "$date": 1378857600000
                },
                "grade": "A",
                "score": 6
            },
            {
                "date": {
                    "$date": 1358985600000
                },
                "grade": "A",
                "score": 10
            },
            {
                "date": {
                    "$date": 1322006400000
                },
                "grade": "A",
                "score": 9
            },
            {
                "date": {
                    "$date": 1299715200000
                },
                "grade": "B",
                "score": 14
            }
        ],
        "name": "Morris Park Bake Shop"
    },
    {
        "grades": [
            {
                "date": {
                    "$date": 1419897600000
                },
                "grade": "A",
                "score": 8
            },
            {
                "date": {
                    "$date": 1404172800000
                },
                "grade": "B",
                "score": 23
            },
            {
                "date": {
                    "$date": 1367280000000
                },
                "grade": "A",
                "score": 12
            },
            {
                "date": {
                    "$date": 1336435200000
                },
                "grade": "A",
                "score": 12
            }
        ],
        "name": "Wendy'S"
    },
    {
        "grades": [
            {
                "date": {
                    "$date": 1409961600000
                },
                "grade": "A",
                "score": 2
            },
            {
                "date": {
                    "$date": 1374451200000
                },
                "grade": "A",
                "score": 11
            },
            {
                "date": {
                    "$date": 1343692800000
                },
                "grade": "A",
                "score": 12
            },
            {
                "date": {
                    "$date": 1325116800000
                },
                "grade": "A",
                "score": 12
            }
        ],
        "name": "Dj Reynolds Pub And Restaurant"
    },
    {
        "grades": [
            {
                "date": {
                    "$date": 1402358400000
                },
                "grade": "A",
                "score": 5
            },
            {
                "date": {
                    "$date": 1370390400000
                },
                "grade": "A",
                "score": 7
            },
            {
                "date": {
                    "$date": 1334275200000
                },
                "grade": "A",
                "score": 12
            },
            {
                "date": {
                    "$date": 1318377600000
                },
                "grade": "A",
                "score": 12
            }
        ],
        "name": "Riviera Caterer"
    },
    {
        "grades": [
            {
                "date": {
                    "$date": 1416787200000
                },
                "grade": "Z",
                "score": 20
            },
            {
                "date": {
                    "$date": 1358380800000
                },
                "grade": "A",
                "score": 13
            },
            {
                "date": {
                    "$date": 1343865600000
                },
                "grade": "A",
                "score": 13
            },
            {
                "date": {
                    "$date": 1323907200000
                },
                "grade": "B",
                "score": 25
            }
        ],
        "name": "Tov Kosher Kitchen"
    }
]
```

In [ ]:
print_result(list(collection.find(*query_range_score(90, 100)))[:5])

Salida esperada:

```javascript
[
    {
        "grades": [
            {
                "date": {
                    "$date": 1410739200000
                },
                "grade": "A",
                "score": 5
            },
            {
                "date": {
                    "$date": 1389657600000
                },
                "grade": "A",
                "score": 8
            },
            {
                "date": {
                    "$date": 1369872000000
                },
                "grade": "A",
                "score": 12
            },
            {
                "date": {
                    "$date": 1366761600000
                },
                "grade": "P",
                "score": 2
            },
            {
                "date": {
                    "$date": 1349049600000
                },
                "grade": "A",
                "score": 9
            },
            {
                "date": {
                    "$date": 1333670400000
                },
                "grade": "C",
                "score": 92
            },
            {
                "date": {
                    "$date": 1320278400000
                },
                "grade": "C",
                "score": 41
            }
        ],
        "name": "Gandhi"
    },
    {
        "grades": [
            {
                "date": {
                    "$date": 1419379200000
                },
                "grade": "Z",
                "score": 31
            },
            {
                "date": {
                    "$date": 1402963200000
                },
                "grade": "C",
                "score": 98
            },
            {
                "date": {
                    "$date": 1386806400000
                },
                "grade": "C",
                "score": 32
            },
            {
                "date": {
                    "$date": 1369180800000
                },
                "grade": "B",
                "score": 21
            },
            {
                "date": {
                    "$date": 1335916800000
                },
                "grade": "A",
                "score": 11
            }
        ],
        "name": "Bella Napoli"
    }
]
```

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 1</b></font>
</summary>

* Verifique que los campos seleccionados en su `query` o `proyección` están escritos correspondientemente a los nombres de los campos en las tablas:
  * MongoDB ID: `_id`
  * Nombre restaurante: `name`
  * Campo que agrupa las notas y calificaciones: `grades`
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 2</b></font>
</summary>

* Note que en la función no es necesario que especifique la colección donde va a hacer la consulta como se hace en *SQL* o *CQL* porque la selección de la colección junto la de la base de datos se hizo al princio del notebook en la sección *carga de datos*. Revise la sección por si no lo notó y el notebook anterior `2_conceptos_mongo.ipynb` por si este concepto de *selección de colección* desde `PyMongo` resulta confuso.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 3</b></font>
</summary>

* En la función usted debe retornar dos `dict` no un `string` como se hizo con *SQL* y *CQL*. La sintaxis de los diccionarios es muy importante, no lo olvide.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 4</b></font>
</summary>

* Recuerde que *MongoDB* retorna por defecto **SIEMPRE** el campo `_id`, si no se le indica que debe dejar de mostrarlo, deje el funcionamiento por defecto.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 5</b></font>
</summary>

* Note que el campo `score` está dentro de un campo que es un arreglo, asegúrese que está usando los operadores correspondientes a *arreglos* diseñados por *MongoDB*.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 6</b></font>
</summary>

* Hay *querys* en *MongoDB* junto con *PyMongo* que pueden implementarse de varias maneras, a menos que conozca de esta situación, use las implementaciones mostradas en el `2_conceptos_mongo.ipynb`.
</details>

### **Evaluar código**

In [ ]:
grader.run_test("Test 5_1", globals())

In [ ]:
grader.run_test("Test 5_2", globals())

## **6. Restaurantes Ubicados en una Latitud Menor que un Valor Dado**
---
Para el ejercicio No. 6 se requiere el nombre de los restaurantes y las coordenadas de cada uno de estos tomando en cuenta a **todos** los documentos que se encuentran en la colección que tengan una **latitud** _menor_ al valor indicado (`latitude`). Debe completar la función `query_lower_latitude` con una *consulta* válida de **MQL (MongoDB Query Language)**, la cual tiene que retornar dos diccionarios: el primero representa el *query*, y el segundo la *proyección del query* que contenga **solamente** los valores de los campos `coord` y `name`. Adicionalmente, **no** se debe mostrar el campo `_id`.

> Tenga en cuenta que, en caso de que algún campo esté embebido en otro, en la salida del _query_ se mostrarán ambos diccionarios; como es el caso de `address` y `coord`.

**Parámetros**

* `latitude`: número de coma flotante o entero que sirve para señalar la latitud por la que se desea filtrar la ubicación del restaurante.

**Retorna**

* `query`: diccionario válido como consulta de **MQL**.
* `proyección`: diccionario válido representando la proyección, es decir, los campos requeridos en el enunciado.

In [ ]:
def query_lower_latitude(latitude):
    query = {'address.coord.0':{'$lt':latitude}
            }
    projection = {'_id':0, 'address.coord':1, 'name':1}
    return query, projection

**Salida esperada:**

En este caso se retornan los restaurantes que tengan al menos una **latitud** _menor_ a -95.3.
```javascript
[
    {
        "address": {
            "coord": [
                -101.8945214,
                33.5197474
            ]
        },
        "name": "Burger King"
    },
    {
        "address": {
            "coord": [
                -119.6368672,
                36.2504996
            ]
        },
        "name": "Cascarino'S"
    },
    {
        "address": {
            "coord": [
                -111.9975205,
                42.0970258
            ]
        },
        "name": "Sports Center At Chelsea Piers (Sushi Bar)"
    }
]
```
> Note que en este ejemplo sólo se muestran 5 registros retornados por el _query_, sin embargo, la cantidad total de datos retornados es mucho más grande; esta se muestra para que usted la use como comparación para los primeros 5 documentos.

In [ ]:
print_result(list(collection.find(*query_lower_latitude(-95.3)))[:5])

In [ ]:
print_result(list(collection.find(*query_lower_latitude(10)))[:5])

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 1</b></font>
</summary>

* La latitud hace parte de un _array_ el cual es el valor del campo `coord` dentro del documento embebido en el campo `address`. Al igual que el ejercicio 4, la consulta se debe trabajar con ambos campos y de manera jerárquica, es decir, debe primero referirse al campo `address` para poder acceder a `coord` y así poder obtener la latitud en la que se ubica el restaurante.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 2</b></font>
</summary>

* Las coordenadas geógraficas de un lugar vienen dadas por dos valores: *`[latitud, longitud]`*, siendo la latitud la primera posición de este arreglo.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 3</b></font>
</summary>

* Debe evaluar los valores que sean _estrictamente menores_ al valor de referencia, el cual es indicado como argumento al momento de llamar a la función `query_lower_latitude`.  
</details>

### **Evaluar código**

In [ ]:
grader.run_test("Test 6_1", globals())

In [ ]:
grader.run_test("Test 6_2", globals())

## **7. Restaurantes con Cocina Diferente a Panadería con Alguna Nota Específica**
---
Para el ejercicio 7 usted debe implementar una *consulta* válida de **MQL (MongoDB Query Language)** mediante la función `query_not_bakery_grade` que retorne dos `dict`, el primero representa el *query* o *filtro*, y el segundo la *proyección del query*. Su trabajo radica en retornar **TODOS** los documentos de la colección `restaurants` que cumplan con un filtro con las siguientes condiciones:
> * Los tipos de cocina (`cuisine`) deben ser diferentes a *Bakery*.
> * Deben tener **por lo menos** una *nota* (`grade`, **no** `grades`) igual a un valor específico que se recibe por parámetro en la función.

Los documentos deben mostrar:
> * El nombre de cada restaurante (`name`)
* El tipo de cocina (`cuisine`)
* El campo que agrupa las calificaciones y las notas (`grades`, **no** `grade`). Percátese que para el filtro se usa el campo `grade` y para la proyección se requiere el campo `grades`.
* Para este ejercicio es necesario que **no** se muestre el campo `_id`.

**Parámetros**

* Nota (`grade`): `string`de sólo una letra en mayúscula que representa la *nota*.

**Retorna**

* `query` o `filtro`: `dict` válido como consulta de **MQL**
* `proyección`: `dict` válido representando la proyección.

In [ ]:
def query_not_bakery_grade(grade):
    query = {
                '$and': [{
                    'cuisine': {'$not': {'$eq':'Bakery'}},
                    'grades': {
                        '$elemMatch': {
                            'grade': {
                                '$eq': grade
                            }}
                        }
                }]
            }
    projection = {
         '_id':0, 'name':1, 'cuisine':1, 'grades':1
     }
    return query, projection

Use las siguiente líneas de código para probar su código con las **salidas de prueba** mostradas. Note que las líneas de código sólo retornan 5 documentos, esto se hace a propósito para no mostrar todos los documentos de la colección, esto son śolo una pequeñas muestras de la consulta completa.

In [ ]:
print_result(list(collection.find(*query_not_bakery_grade("A")))[:5])

Salida esperada:

```javascript
[
    {
        "cuisine": "Hamburgers",
        "grades": [
            {
                "date": {
                    "$date": 1419897600000
                },
                "grade": "A",
                "score": 8
            },
            {
                "date": {
                    "$date": 1404172800000
                },
                "grade": "B",
                "score": 23
            },
            {
                "date": {
                    "$date": 1367280000000
                },
                "grade": "A",
                "score": 12
            },
            {
                "date": {
                    "$date": 1336435200000
                },
                "grade": "A",
                "score": 12
            }
        ],
        "name": "Wendy'S"
    },
    {
        "cuisine": "Irish",
        "grades": [
            {
                "date": {
                    "$date": 1409961600000
                },
                "grade": "A",
                "score": 2
            },
            {
                "date": {
                    "$date": 1374451200000
                },
                "grade": "A",
                "score": 11
            },
            {
                "date": {
                    "$date": 1343692800000
                },
                "grade": "A",
                "score": 12
            },
            {
                "date": {
                    "$date": 1325116800000
                },
                "grade": "A",
                "score": 12
            }
        ],
        "name": "Dj Reynolds Pub And Restaurant"
    },
    {
        "cuisine": "American ",
        "grades": [
            {
                "date": {
                    "$date": 1402358400000
                },
                "grade": "A",
                "score": 5
            },
            {
                "date": {
                    "$date": 1370390400000
                },
                "grade": "A",
                "score": 7
            },
            {
                "date": {
                    "$date": 1334275200000
                },
                "grade": "A",
                "score": 12
            },
            {
                "date": {
                    "$date": 1318377600000
                },
                "grade": "A",
                "score": 12
            }
        ],
        "name": "Riviera Caterer"
    },
    {
        "cuisine": "Jewish/Kosher",
        "grades": [
            {
                "date": {
                    "$date": 1416787200000
                },
                "grade": "Z",
                "score": 20
            },
            {
                "date": {
                    "$date": 1358380800000
                },
                "grade": "A",
                "score": 13
            },
            {
                "date": {
                    "$date": 1343865600000
                },
                "grade": "A",
                "score": 13
            },
            {
                "date": {
                    "$date": 1323907200000
                },
                "grade": "B",
                "score": 25
            }
        ],
        "name": "Tov Kosher Kitchen"
    },
    {
        "cuisine": "American ",
        "grades": [
            {
                "date": {
                    "$date": 1416009600000
                },
                "grade": "Z",
                "score": 38
            },
            {
                "date": {
                    "$date": 1398988800000
                },
                "grade": "A",
                "score": 10
            },
            {
                "date": {
                    "$date": 1362182400000
                },
                "grade": "A",
                "score": 7
            },
            {
                "date": {
                    "$date": 1328832000000
                },
                "grade": "A",
                "score": 13
            }
        ],
        "name": "Brunos On The Boulevard"
    }
]
```

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 1</b></font>
</summary>

* Verifique que los campos seleccionados en su `query` o `proyección` están escritos correspondientemente a los nombres de los campos en las tablas:
  * MongoDB ID: `_id`
  * Nombre restaurante: `name`
  * Tipo de cocina: `cuisine`
  * Campo que agrupa notas y calificaciones: `grades`
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 2</b></font>
</summary>

* Note que en la función no es necesario que especifique la colección donde va a hacer la consulta como se hace en *SQL* o *CQL* porque la selección de la colección junto la de la base de datos se hizo al princio del notebook en la sección *carga de datos*. Revise la sección por si no lo notó y el notebook anterior `2_conceptos_mongo.ipynb` por si este concepto de *selección de colección* desde `PyMongo` resulta confuso.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 3</b></font>
</summary>

* En la función usted debe retornar dos `dict` no un `string` como se hizo con *SQL* y *CQL*. La sintaxis de los diccionarios es muy importante, no lo olvide.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 4</b></font>
</summary>

* Recuerde que *MongoDB* retorna por defecto **SIEMPRE** el campo `_id`, si no se le indica que debe dejar de mostrarlo, deje el funcionamiento por defecto.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 5</b></font>
</summary>

* Note que el campo `grade` está dentro de un campo que es un arreglo, asegúrese que está usando los operadores correspondientes a *arreglos* diseñados por *MongoDB*.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 6</b></font>
</summary>

* Hay *querys* en *MongoDB* junto con *PyMongo* que pueden implementarse de varias maneras, a menos que conozca de esta situación, use las implementaciones mostradas en el `2_conceptos_mongo.ipynb`.
</details>

### **Evaluar código**

In [ ]:
grader.run_test("Test 7_1", globals())

In [ ]:
grader.run_test("Test 7_2", globals())

## **8. Restaurantes que Tienen Dirección**
---
Por último, en este caso se necesita el nombre y la calle donde se ubica **cada uno** de los restaurantes que se encuentran en la colección que tengan una **calle** _definida_. Debe completar la función `query_has_street` con una *consulta* válida de **MQL (MongoDB Query Language)**, la cual tiene que retornar dos diccionarios: el primero representa el *query*, y el segundo la *proyección del query* que contenga **solamente** los valores de los campos `street` y `name`. Adicionalmente, es necesario que **no** se muestre el campo `_id`.

> Tenga en cuenta que, en caso de que algún campo esté embebido en otro, en la salida del _query_ se mostrarán ambos diccionarios; como es el caso de `address` y `street`.

**Parámetros**

* No hay parámetros de entrada para esta función.

**Retorna**

* `query`: diccionario válido como consulta de **MQL**.
* `proyección`: diccionario válido representando la proyección, es decir, los campos requeridos en el enunciado.

In [ ]:
def query_has_street():
    query = {}
    projection = {
        '_id': 0, 'address.street':1, 'name':1
     }
    return query, projection

**Salida esperada:**

```javascript
[
    {
        "address": {
            "street": "Morris Park Ave"
        },
        "name": "Morris Park Bake Shop"
    },
    {
        "address": {
            "street": "Flatbush Avenue"
        },
        "name": "Wendy'S"
    },
    {
        "address": {
            "street": "West   57 Street"
        },
        "name": "Dj Reynolds Pub And Restaurant"
    },
    {
        "address": {
            "street": "Stillwell Avenue"
        },
        "name": "Riviera Caterer"
    },
    {
        "address": {
            "street": "63 Road"
        },
        "name": "Tov Kosher Kitchen"
    }
]
```
> Note que en este ejemplo sólo se muestran 5 registros retornados por el _query_, sin embargo, la cantidad total de datos retornados es mucho más grande; esta se muestra para que usted la use como comparación para los primeros 5 documentos.

In [ ]:
print_result(list(collection.find(*query_has_street()))[:5])

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 1</b></font>
</summary>

* Este _query_ requiere de un **formato condicional** que evalúe si _existe_ un valor en el campo `street` dentro de `address` en cada documento dentro de la colección.
</details>

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pista 2</b></font>
</summary>

* Al igual que los ejercicios anteriores, la consulta se debe trabajar tanto con el campo del documento como el del documento embebido (`address` y `street`, respectivamente) y de manera jerárquica para así obtener los datos requeridos por el _query_.
</details>

### **Evaluar código**

In [ ]:
grader.run_test("Test 8_1", globals())

# Evaluación
---

In [ ]:
grader.submit_task(globals())

# Créditos
---

**Profesor**

- [Jorge E. Camargo, PhD](https://dis.unal.edu.co/~jecamargom/)

**Diseño, desarrollo del notebook y material audiovisual**

- [Juan S. Lara MSc](https://www.linkedin.com/in/juan-sebastian-lara-ramirez-43570a214/)

**Universidad Nacional de Colombia** - *Facultad de Ingeniería*